<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045516688148-bcguk9l4sn4rqo812j29ek6cjb50o7q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045516688148-bcguk9l4sn4rqo812j29ek6cjb50o7q3</string>
	<key>API_KEY</key>
	<string>AIzaSyC7sRcXyICCwTPDjmlZN33LFam4ki3jzQs</string>
	<key>GCM_SENDER_ID</key>
	<string>1045516688148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.gundelt.wastegram</string>
	<key>PROJECT_ID</key>
	<string>wastegram-gundel</string>
	<key>STORAGE_BUCKET</key>
	<string>wastegram-gundel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045516688148:ios:e4d20184af4bd8930fc001</string>
	<key>DATABASE_URL</key>
	<string>https://wastegram-gundel.firebaseio.com</string>
</dict>
</plist>